<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta content="Responsive Bootstrap Multi-Purpose Crypto Trading User Interface" name="description" />
    <meta name="keywords" content="crypto, Bootstrap, bitcoins, ethereum, dogecoin, iota, ripple, siacoin, exchange, trading platform, crypto trading">
    <meta name="author" content="">
    <title>Trading - Parallel Computing Club(PCC)</title>
    <link rel="stylesheet" href="/css/UserSpecificBoot.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/plugins/animo/animate%2banimo.css">
    <link rel="stylesheet" href="/plugins/csspinner/csspinner.min.css">
    <link rel="stylesheet" href="/css/UserSpecificStyles.css">
    <script src="/plugins/modernizr/modernizr.js"></script>
    <script src="/plugins/fastclick/fastclick.js"></script>
    <script src="https://kit.fontawesome.com/8c237263d8.js" crossorigin="anonymous"></script>
    



</head>

<body>