<section class="wrapper">
    <nav class="navbar navbar-default navbar-top navbar-fixed-top">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <div class="brand-logo"><i class="fa-solid fa-indian-rupee-sign"></i> PCC Trading stocks</div>
                <div class="brand-logo-collapsed"><i class="fa-solid fa-indian-rupee-sign"></i></div>
            </a>
        </div>
        <div class="nav-wrapper">

            <ul class="nav navbar-nav navbar-right mt0">
                <li class="dropdown dropdown-list">
                    <a href="#"  data-play="fadeIn" >
                 <strong><i class="fa-solid fa-indian-rupee-sign"></i> Remaining Fund : <%=userFund%></strong>
                 </a>
                </li>

            </ul>
        </div>
    </nav>