 <!-- Sidebar        -->
 <aside class="aside">
    <nav class="sidebar">
        <ul class="nav">
            <li>
                <div data-toggle="collapse-next" class="item user-block has-submenu">
                    <div class="user-block-picture">
                        <img src="/images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle account-img-mb">
                    </div>
                    <div class="user-block-info">
                        <span class="user-block-name item-text"><%=userName%></span>
                        <span class="user-block-role"><i class="fa fa-check text-green"></i> Verified</span>
                    </div>
                </div>
                
                    <li><a href="/Dashboard">
                        <em class="fa fa-home"></em>
                        Dashboard</a>
                    </li>
               
            </li>

            <li class="">
                <a href="datatable.html" title="Dashboard" class="">
                <em class="fa fa-gear"></em>
                <span class="item-text">Portfolio</span>
             </a>
            </li>
            <li class="">
                <a href="/">
                <em class="fa fa-gear"></em>
                <span class="item-text">Home</span>
             </a>
            </li>
            <li class="">
                <a href="/logout" title="Dashboard" class="">
                <em class="fa fa-gear"></em>
                <span class="item-text">Logout</span>
             </a>
        </ul>
    </nav>
</aside>