* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 7%;
  color: #fff;
}
nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
}
nav ul {
  flex: 1;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav .btn {
  position: relative;
  left: 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
}
.content {
  margin-top: 12%;
}
.content h1 {
  font-size: 88px;
  margin-bottom: 15px;
}
.content h1 span {
  color: #ff960b;
}
.content p {
  line-height: 22px;
  font-size: 14px;
}

.content .btn {
  display: inline-block;
  margin-top: 30px;
  background-color: #ff960b;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
}

/* about us */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-image: url(images/about.jpg);
  background-color: rgba(243, 10, 10, 0.411);
}
.container_about {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #363636;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}
.content-section .social {
  margin: 40px 40px;
}
.content-section .social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #3d3d3d;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}

/* sign In */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.multiUse{
  background-color: #a52a2a;
}