 <!-- # 2 All Market start -->
 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">All Stocks
               
         <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Open/ Close Panel">
         <em class="fa fa-plus"></em>
         </a>
            </div>
            <div class="panel-wrapper collapse">
                <div class="panel panel-default">
                    <div class="panel-heading">All Stocks at a glimpse |
                        <small>Trade All Availble Stocks</small>
                    </div>
                    <div class="panel-body">
                        <table id="datatable1" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="tableSmallPad">Name Of Stock</th>
                                    <th class="tableSmallPad">Price</th>
                                    <th class="tableSmallPad">Vol</th>
                                    <th class="tableSmallPad">Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Stock 1 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad">
                                        <!--RADIO 1-->
                                        <input type="radio" class="radio_item" value="" name="BCH" id="radio1">
                                        <label class="label_item" for="radio1"> <i class="fa fa-star text-c-blue"></i> </label> st 1
                                    </td>
                                    <td class="tableSmallPad">0.16000009</td>
                                    <td class="tableSmallPad">2967.720</td>
                                    <td class="text-c-blue tableSmallPad">+17.84</td>
                                </tr>
                                <!-- 1 Ends Here -->

                                <!-- stock 2 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio10">
                                        <label class="label_item" for="radio10"> <i class="fa fa-star text-c-blue"></i> </label> st 2
                                    </td>
                                    <td class="tableSmallPad">0.10039995</td>
                                    <td class="tableSmallPad">2887.720</td>
                                    <td class="text-c-blue tableSmallPad">+1.35</td>
                                </tr>
                                <!-- 2 Ends Here -->

                                <!-- stock 3 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio3">
                                        <label class="label_item" for="radio3"> <i class="fa fa-star text-c-blue"></i> </label> st 3
                                    </td>
                                    <td class="tableSmallPad">0.00009485</td>
                                    <td class="tableSmallPad">1633.576</td>
                                    <td class="text-c-blue tableSmallPad">+5.10</td>
                                </tr>
                                <!-- stock 3 Ends Here -->

                                <!-- Stock 4 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio4">
                                        <label class="label_item" for="radio4"> <i class="fa fa-star text-c-blue"></i> </label> st 4
                                    </td>
                                    <td class="tableSmallPad">0.00004322</td>
                                    <td class="tableSmallPad">1196.608</td>
                                    <td class="text-c-red tableSmallPad">-0.05</td>
                                </tr>
                                <!-- 4 Ends Here -->

                                <!-- Stock 5 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio5">
                                        <label class="label_item" for="radio5"> <i class="fa fa-star text-c-blue"></i> </label> st 5
                                    </td>
                                    <td class="tableSmallPad">0.01790003</td>
                                    <td class="tableSmallPad">1115.235</td>
                                    <td class="text-c-blue tableSmallPad">+1.58</td>
                                </tr>
                                <!-- Stock 5 Ends Here -->

                                <!-- Stock 6 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio6">
                                        <label class="label_item" for="radio6"> <i class="fa fa-star text-c-blue"></i> </label> St 6
                                    </td>
                                    <td class="tableSmallPad">0.00000272</td>
                                    <td class="tableSmallPad">131.014</td>
                                    <td class="text-c-blue tableSmallPad">+1.87</td>
                                </tr>
                                <!-- Stock 6 Ends Here -->

                                <!-- Stock 7 Starts Here --> 
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio7">
                                        <label class="label_item" for="radio7"> <i class="fa fa-star text-c-blue"></i> </label> st 7
                                    </td>
                                    <td class="tableSmallPad">0.00000055</td>
                                    <td class="tableSmallPad">169.631</td>
                                    <td class="text-c-red tableSmallPad">-1.79</td>
                                </tr>
                                <!-- Stock 7 Ends Here -->

                                <!-- Stock 8 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio8">
                                        <label class="label_item" for="radio8"> <i class="fa fa-star text-c-blue"></i> </label> st 8
                                    </td>
                                    <td class="tableSmallPad">0.00000402</td>
                                    <td class="tableSmallPad">90.224</td>
                                    <td class="text-c-blue tableSmallPad">+0.00</td>
                                </tr>
                                <!-- Stock 8 Ends Here -->
                            
                                <!-- Stock 9 Starts Here -->
                                <tr class="clickable-row" data-href="index.html">
                                    <td class="tableSmallPad"><input type="radio" class="radio_item" value="" name="ETH" id="radio9">
                                        <label class="label_item" for="radio9"> <i class="fa fa-star text-c-blue"></i> </label> st 9
                                    </td>
                                    <td class="tableSmallPad">0.00002241</td>
                                    <td class="tableSmallPad">100.305</td>
                                    <td class="text-c-blue tableSmallPad">+2.56</td>
                                </tr>
                                <!-- stock 9 Ends Here -->  

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">All Markets</div>
            </div>
        </div>
    </div>
</div>
<!-- # 2 ALL MArket end  -->