 <!-- Market Orders -->
 <div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Market Orders
                <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
              <em class="fa fa-minus"></em>
              </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="table-responsive m-t-10">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-caret-down"></i>
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Volume
                                        </th>
                                        <th>
                                            Buy orders
                                        </th>
                                        <th>
                                            <i class="fa fa-star"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">0.0159</td>
                                        <td class="number cursor-pointer">5680.47083071</td>
                                        <td class="number cursor-pointer">0.00000280</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">0.0685</td>
                                        <td class="number cursor-pointer">18851.91700000</td>
                                        <td class="number cursor-pointer">0.00000279</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">0.7073</td>
                                        <td class="number cursor-pointer">229789.14814763</td>
                                        <td class="number cursor-pointer">0.00000278</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">2.1508</td>
                                        <td class="number cursor-pointer">521105.97581155</td>
                                        <td class="number cursor-pointer">0.00000277</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">5.7000</td>
                                        <td class="number cursor-pointer">1285951.32360851</td>
                                        <td class="number cursor-pointer">0.00000276</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">8.6771</td>
                                        <td class="number cursor-pointer">1082582.56091735</td>
                                        <td class="number cursor-pointer">0.00000275</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">11.6762</td>
                                        <td class="number cursor-pointer">1094562.64213653</td>
                                        <td class="number cursor-pointer">0.00000274</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">20.2601</td>
                                        <td class="number cursor-pointer">3144290.86429987</td>
                                        <td class="number cursor-pointer">0.00000273</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">21.2152</td>
                                        <td class="number cursor-pointer">351142.02305649</td>
                                        <td class="number cursor-pointer">0.00000272</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                        <td class="number">23.1955</td>
                                        <td class="number cursor-pointer">730741.05599659</td>
                                        <td class="number cursor-pointer">0.00000271</td>
                                        <td class="symbol">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table class="w-100-p">
                         
                        </table>


                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-star"></i>
                                        </th>
                                        <th>
                                            sell Orders
                                        </th>
                                        <th>
                                            Volume
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            <i class="fa fa-caret-down"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000281</td>
                                        <td class="number cursor-pointer">360358.10101320</td>
                                        <td class="number">1.0126</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000282</td>
                                        <td class="number cursor-pointer">133643.37381191</td>
                                        <td class="number">0.3769</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000283</td>
                                        <td class="number cursor-pointer">623151.30997127</td>
                                        <td class="number">1.7635</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000284</td>
                                        <td class="number cursor-pointer">464417.50666583</td>
                                        <td class="number">1.3189</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000285</td>
                                        <td class="number cursor-pointer">1530110.21227631</td>
                                        <td class="number">4.3608</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000286</td>
                                        <td class="number cursor-pointer">646492.28404140</td>
                                        <td class="number">1.8490</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000287</td>
                                        <td class="number cursor-pointer">1295584.02927247</td>
                                        <td class="number">3.7183</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000288</td>
                                        <td class="number cursor-pointer">461747.75984107</td>
                                        <td class="number">1.3298</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000289</td>
                                        <td class="number cursor-pointer">801337.21839318</td>
                                        <td class="number">2.3159</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="symbol">
                                        </td>
                                        <td class="number cursor-pointer">0.00000290</td>
                                        <td class="number cursor-pointer">2518143.00186107</td>
                                        <td class="number">7.3026</td>
                                        <td class="p0">
                                            <button type="button" class="btn btn-primary btn-xs center-block"><i class="fa fa-caret-down"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table class="w-100-p">

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</section>
</section>
</section>