  <!--# 4 News  -->
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right"><i class="fa fa-bullhorn"></i></div>
        <div class="panel-title">Upcoming News</div>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <small class="pull-right">2h</small>
                    <strong class="media-heading text-primary">Himanshu</strong>
                    <p><small>Posted by <span class="__cf_email__" data-cfemail="f0ba919d9583b09588919d809c95">[email&#160;protected]</span></small></p>
                    <p class="mb-sm">
                        <small>Bhai bhukamp aane wala he time se ghar chale jao</small>
                    </p>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <small class="pull-right">2h</small>
                    <strong class="media-heading text-primary">Aayush</strong>
                    <p><small>Posted by <span class="__cf_email__" data-cfemail="266c4f4b4b5f66435e474b564a43">[email&#160;protected]</span></small></p>
                    <p class="mb-sm">
                        <small>Mene esi technology banayi he jisse apn log paise dubaa skte he aur kisiko pta bhi nhi chalega</small>
                    </p>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <small class="pull-right">2h</small>
                    <strong class="media-heading text-primary">Deepak</strong>
                    <p><small>Posted by <span class="__cf_email__" data-cfemail="06407467686d7f46637e676b766a63">[email&#160;protected]</span></small></p>
                    <p class="mb-sm">
                        <small>Me ek naya super planet banane pe kaam kr rha hu jisme hum log apne saare planet ko store kar sakte he </small>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="panel-footer clearfix">
        <a href="#" class="pull-left">
   <small>Read All</small>
   </a>
        <a href="#" class="pull-right">
   <small>Dismiss All</small>
   </a>
    </div>
    <div class="panel-footer clearfix">
        <p>Stay tuned for latest News</p>
    </div>
</div>
</div>
</div>
<!--# 4 News  -->