<!-- SELL ORDER     -->
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">Sell Stock
            <a href="#" data-perform="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
       <em class="fa fa-minus"></em>
       </a>
        </div>
        <div class="pannel panel-body">
            <label class="col-sm-2 control-label m-t-9">Units</label>
            <div class="input-group col-sm-10 m-b">
                <span class="input-group-addon btn-primary group-btn-hover"><i class="fa fa-angle-double-up"></i> Max</span>
                <input type="text" placeholder="0.00000000" class="form-control text-right">
            </div>
            <div class="m-t-9">
                <label class="col-sm-2 control-label m-t-9">Ask</label>
                <div class="input-group m-b">
                    <div class="input-group-btn">
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Price
                </button>
                    </div>
                    <input type="text" class="form-control text-right" placeholder="0.00000000">
                </div>
            </div>

            </div>
            <div class="m-t-9">
                <label class="col-sm-2 control-label m-t-9">Total</label>
                <div class="input-group col-sm-10 m-b">
                    <span class="input-group-addon"><i class="fa fa-btc"></i></span>
                    <input type="text" placeholder="0.00000000" class="form-control text-right">
                </div>
            </div>
            <div class="m-t-9">
                <button type="button" class="btn btn-primary btn-block"><i class="fa fa-minus"></i> Sell Stock</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- SELL ORDER     --> 