<!-- stock Status start -->
<div class="row">
    <div class="col-md-6">
        <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
            <div class="panel-body">
                <div class="text-right text-muted">
                    <em class="fa fa-gavel fa-2x text-danger"></em>
                </div>
                <h3 class="mt0">Bid Price</h3>
                <p class="text-danger"><i class="fa fa-money"></i> $0.02</p>
                <p><i class="fa fa-btc"></i> 0.00000284</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" data-delay="1400" class="panel widget">
            <div class="panel-body">
                <div class="text-right text-muted">
                    <em class="fa fa-bullhorn fa-2x text-green"></em>
                </div>
                <h3 class="mt0">Ask Price</h3>
                <p class="text-green"><i class="fa fa-money"></i> $0.02</p>
                <p><i class="fa fa-btc"></i> 0.00000285</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-3">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Stock Performance</div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
            <em class="fa fa-circle fa-stack-2x text-green"></em>
            <em class="fa fa-level-up fa-stack-1x fa-inverse text-white"></em>
            </span>
                </div>
                <div class="media-body clearfix">
                    <strong>Last Price</strong>
                    <p class="m0">
                        <small class="text-green">$0.02 <i class="fa fa-money"></i></small>
                    </p>
                    <p><i class="fa fa-btc"></i> 0.00000286</p>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
            <em class="fa fa-circle fa-stack-2x text-green"></em>
            <em class="fa fa-level-up fa-stack-1x fa-inverse text-white"></em>
            </span>
                </div>
                <div class="media-body clearfix">
                    <strong>24Hr Change</strong>
                    <p class="m0">
                        <small class="text-green">+1.35%</small>
                    </p>
                    <p><i class="fa fa-plus"></i> Gainer <i class="fa fa-level-up text-green"></i></p>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
            <em class="fa fa-circle fa-stack-2x text-danger"></em>
            <em class="fa fa-level-down fa-stack-1x fa-inverse text-white"></em>
            </span>
                </div>
                <div class="media-body clearfix">
                    <strong>24Hr Low</strong>
                    <p class="m0">
                        <small class="text-danger">$0.02</small>
                    </p>
                    <p><i class="fa fa-btc"></i> 0.00000261 <i class="fa fa-level-down text-danger"></i></p>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
            <em class="fa fa-circle fa-stack-2x text-green"></em>
            <em class="fa fa-level-up fa-stack-1x fa-inverse text-white"></em>
            </span>
                </div>
                <div class="media-body clearfix">
                    <strong>24Hr High</strong>
                    <p class="m0">
                        <small class="text-green">$0.02</small>
                    </p>
                    <p><i class="fa fa-btc"></i> 0.00000261 <i class="fa fa-level-up text-green"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Stock Status Ends Here -->